<div class="home-container">
  <header class="header">
    <h1>Join+</h1>
    <nav>
      <a routerLink="/login" class="link">Login</a>
      <a routerLink="/register" class="link primary">Create account</a>
    </nav>
  </header>

  <section class="hero">
    <div class="hero-text">
      <h2>Organize your tasks effortlessly</h2>
      <p>Join+ is your modern task manager to stay productive, connected and in control.</p>
      <div class="cta-buttons">
        <a routerLink="/register" class="btn primary">Get Started</a>
        <a routerLink="/login" class="btn">Login</a>
      </div>
    </div>
    <div class="hero-image">
      <img src="../../../public/task.jpg" alt="Task Manager Illustration" />
    </div>
  </section>
</div>

